# Dependabot version updates documentation:
# https://docs.github.com/en/code-security/concepts/supply-chain-security/about-dependabot-version-updates

version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "saturday"
      time: "09:00"
      timezone: "Europe/Madrid"
    # Default open PR limit for version updates is 5.
    open-pull-requests-limit: 10
    # Override the default automatic labels ("dependencies" + "javascript") to use "npm" instead of "javascript".
    labels:
      - "dependencies"
      - "npm"
    ignore:
      - dependency-name: "tailwindcss"
        update-types: ["version-update:semver-major"]
    groups:
      eslint:
        patterns:
          - "eslint"
          - "@eslint/js"
    cooldown:
      default-days: 7
