/*
Hide elements visually, but keep them programmatically available.
Refs.:
- https://www.matuzo.at/blog/2023/zero-width-height-skip/
- https://www.scottohara.me/blog/2023/03/21/visually-hidden-hack.html
- https://www.tpgi.com/the-anatomy-of-visually-hidden/
*/
.visually-hidden:not(:is(:active, :focus, :focus-within)) {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: 0;
	overflow: hidden;
	white-space: nowrap;
	border: 0;
	clip-path: inset(50%);
}
