/* ======================================================================
GLOBAL STYLES

Low-specificity, global styles that apply to the whole project.

More info:
- https://cube.fyi/css.html
- https://piccalil.li/blog/cube-css/#css

Selectors are grouped and sorted based on:
- https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements
- https://html.spec.whatwg.org/multipage/#toc-semantics

Table of contents:
01. Document / Global
02. Sections
03. Grouping Content
04. Inline Text Semantics
05. Embedded Content
06. Tables
07. Forms
08. Interactive Elements
09. Focus Indicators
====================================================================== */

/* ======================================================================
01. Document / Global
====================================================================== */

@media (prefers-reduced-motion: no-preference) {
	/* Opt in the whole page to interpolate sizes to/from keywords. */
	html {
		interpolate-size: allow-keywords;
	}

	/* Opt in all pages to cross-document view transitions. */
	@view-transition {
		navigation: auto;
	}
}

/*
Remove default margins in favour of better control in authored CSS.
*/

body {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
hr,
pre,
blockquote,
ol,
ul,
dl,
figure {
	margin-block: 0;
}

blockquote,
figure {
	margin-inline: 0;
}

dd {
	margin-inline-start: 0;
}

/* ======================================================================
02. Sections
====================================================================== */

/* ----------------------------------------------------------------------
Headings
---------------------------------------------------------------------- */

/* Set shorter line heights and balance text wrapping on headings. */
h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.1;
	text-wrap: balance;
}

/* ======================================================================
03. Grouping Content
====================================================================== */

/* ----------------------------------------------------------------------
Ordered & Unordered Lists
---------------------------------------------------------------------- */

/*
Remove list-style-type on 'ol' and 'ul' elements with a list role, which suggests default styling will be removed.
More info:
- https://piccalil.li/blog/a-more-modern-css-reset/
- https://www.matuzo.at/blog/2023/removing-list-styles-without-affecting-semantics
*/
:is(ol, ul):where([role="list"]) {
	list-style-type: none;
}

/* ======================================================================
04. Inline Text Semantics
====================================================================== */

/* Links that don't have a class get default styles. */
a:not([class]) {
	color: currentcolor;
}

/* ======================================================================
05. Embedded Content
====================================================================== */

/* ======================================================================
06. Tables
====================================================================== */

/* ======================================================================
07. Forms
====================================================================== */

/* Set shorter line heights on some form elements. */
button,
label,
input {
	line-height: 1.1;
}

textarea {
	display: block;
	min-block-size: 7.5em;
	min-block-size: 5lh;
	resize: vertical;
	field-sizing: content;
}

/* ======================================================================
08. Interactive Elements
====================================================================== */

/* ======================================================================
09. Focus Indicators
====================================================================== */
